div {
  background-color: wheat;
  /* padding: 10px;
  width: 70px; */
  margin: auto;
  /* border: 10px solid red;
  /* outline: 10px solid blue; */
  /* border-radius: 20px;
  display: flexbox; */
}
.first {
  /* visibility: hidden; */
  display: none;
}
